.control {
  position: relative;
}

.children__child .control {
  display: inline-block;
  width: calc((100% - 75px) / 2 - 10px)
}

.person .control__input {
  margin: 4px 0;
  width: calc(100% - 10px - 15px);
}

.children .control__input {
  margin: 5px 5px 5px 0;
  width: calc(100% - 15px - 10px);
}

.control__label {
  position: absolute;
  bottom: 15px;
  left: 16px;

  display: block;

  font-size: 13px;
  line-height: 24px;

  transition: all 0.3s ease;

  &.active {
    color: rgba(0, 0, 0, 0.48);
    bottom: 35px;
  }
}

.control__input {
  padding: 24px 10px 8px 15px;

  font-size: 14px;
  line-height: 24px;

  border: solid 1px $border-gray;
  background: none;

  &:focus {
    outline: 0;
  }
}
