body {
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 100px;
  font-size: 14px;
  line-height: 24px;

  font-family: inherit;
  cursor: pointer;
}

section {
  margin-bottom: 21px;
}

input {
  font-family: inherit;
  margin: 0;
}

form {
  width: 45.4%;
  margin: 13px 13px auto 15px;

  font-family: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: center;

  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 13px;
  line-height: 16px;

  background-color: $bg-top-bottom;
}

//------------------------------------

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.children__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children__child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children__btn-delete {
  border: none;
  background-color: inherit;
  color: $primary-blue;
}

.children__btn-add {
  display: flex;
  padding: 8px 22px;

  border: 2px solid $primary-blue;
  color: $primary-blue;
  background-color: inherit;

  & span {
    padding-right: 2px;
    font-size: 36px;
  }
}

.form__btn-submit {
  padding: 8px 22px;
  border: 2px solid $primary-blue;
  color: white;
  background-color: $primary-blue;
}

.preview {
  width: 45%;
  padding: 14px 10px 0 10px;

  & p {
    font-weight: 700;
    margin-top: 21px;
  }

  & li > p {
    display: inline-block;
    margin: 0 0 21px 0;
    padding: 12px 17px 12px 20px;
    font-weight: 700;

    background-color: $bg-preview;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}
