$main-width: 45.5%;
$main-radius: 15px;

$primary-blue: #01A7FD;
$border-gray: #F1F1F1;
$bg-top-bottom: #FAFAFA;
$bg-preview: $border-gray;


$alert-bg-warning: #fff3cd;
$alert-color-warning: #664d03;
$alert-border-warning: #ffecb5;

$alert-bg-danger: #f8d7da;
$alert-color-danger: #842029;
$alert-border-danger:#f5c2c7;

$alert-bg-success: white;
$alert-color-success: black;
$alert-border-success: white;

$primary-blue-hover: #0198fd;


